# Ignore node_modules
node_modules

# Ignore environment variables and secrets
.env
.DS_Store

# Ignore build artifacts
dist
*.local
*.log
.idea

# Ignore logs and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json